:root {
    --font-family-main: "Poppins", system-ui, sans-serif;
    --font-size-head-xxs: 32px;
    --font-size-head-xs: 36px;
    --font-size-head-s: 40px;
    --font-size-head-m: 48px;
    --font-size-head-l: 56px;
    --font-size-head-xl: 72px;

    --font-size-body-xxs: 12px;
    --font-size-body-xs: 14px;
    --font-size-body-s: 16px;
    --font-size-body-m: 18px;
    --font-size-body-l: 20px;
    --font-size-body-xl: 24px;

    --font-line-head: 120%;
    --font-line-body: 150%;

    --green: #00B207;
    --green-dark: #2C742F;
    --white: #fff;
    --black: #000;
    --gray-dark: #1A1A1A;
    --gray-light: #E6E6E6;

}